@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StudentManagentLayout";
}
@model List<MS.CoachSystem.Entity.Entities.CoachingSession>


<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center ms-2 mb-3">
        <h2 class="c-black">Görüşmeler</h2>
        <a class="btn btn-primary me-3" asp-action="Create" asp-controller="CoachingSession">Görüşme Ekle</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Görüşme Konusu</th>
                <th scope="col">Görüşme Notları</th>
                <th scope="col">Görüşme Linki</th>
                <th scope="col">Görüşme Tarihi</th>
                <th scope="col">Görüşme Saati</th>
                <th scope="col">Görüşme Durumu</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.SessionTopic</td>
                    <td>@item.SessionNotes</td>
                    <td>@item.SessionLocation</td>
                    <td>@item.SessionDate</td>
                    <td>@item.SessionTime</td>
                    <td>@item.SessionStatus</td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Update" asp-controller="CoachingSession" asp-route-id="@item.Id">Güncelle</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Remove" asp-controller="CoachingSession" asp-route-id="@item.Id">Sil</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>