@{
    Layout = "_StudentManagentLayout";
}
@model List<MS.CoachSystem.Entity.Entities.CoachingSession>

<div class="container-fluid mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-white py-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="m-0 font-weight-bold text-primary">Görüşmeler</h3>
                </div>
                <div class="col-auto">
                    <a class="btn btn-primary" asp-action="Create" asp-controller="CoachingSession">
                        <i class="fas fa-plus"></i> Görüşme Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Görüşme Konusu</th>
                            <th scope="col">Görüşme Notları</th>
                            <th scope="col">Görüşme Linki</th>
                            <th scope="col">Görüşme Tarihi</th>
                            <th scope="col">Görüşme Saati</th>
                            <th scope="col">Görüşme Durumu</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.SessionTopic</td>
                                <td>@item.SessionNotes</td>
                                <td>
                                    <a href="@item.SessionLocation" target="_blank" class="btn btn-sm btn-link">
                                        <i class="fas fa-video"></i> Link
                                    </a>
                                </td>
                                <td>@item.SessionDate.ToShortDateString()</td>
                                <td>@item.SessionTime</td>
                                <td>@item.SessionStatus</td>
                                <td>
                                    <a class="btn btn-sm btn-info" asp-action="Update" asp-route-id="@item.Id">
                                        Güncelle
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" asp-action="Remove" asp-route-id="@item.Id">
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

